@layer page, component;

@import "to-do-app.css" layer(component);

@layer page {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: inherit;
  }

  html,
  body {
    block-size: 100%;
    font-size: 1.125rem;
    font-family: system-ui, sans-serif;
  }

  ::view-transition-group(*) {
    animation-duration: 0;
  }
}
